//             __ _
//            / _(_)
//  _ __ ___ | |_ _
// | '__/ _ \|  _| |
// | | | (_) | | | |
// |_|  \___/|_| |_|

* {
    background:     #2b3947;
    background-alt: #344a5e;
    foreground:     #b3c8e1;
    selected:       #4586c4;
    active:         #4586c4;
    urgent:         #4586c4;
}
